title = "/nominalizarile-anului"
url = "/nominalizarile-anului"
layout = "default"
description = "Aceasta pagina listeaza invatatoarele"
is_hidden = 0

[TeacherList]
==
{% partial "cta2-fng-no-button.htm" %}
{% partial "scrisoare.htm" %}
{% set teachers = TeacherList.teachers %}
<div class="container" class="text-center">
    <div class="grid-container">
        {% for teacher in teachers %}
        <div class="grid-item">
            <div class="flex-header">
                <div class="name-label">Nume Invatator</div>
                <div class="name-value">{{teacher.teacher_name}} {{teacher.teacher_surname}} </div>
            </div>
            <img class="image-grid" src="{{'/assets/images/card_header.jpg'|theme}}">
            <div class="flex-header">
                <div class="name-label" >Nume parinte</div>
                <div class="name-value">{{teacher.user_name}} {{teacher.user_surname}} </div>
            </div>

            <div>
                <div class="teacher-details">{{teacher.teacher_details}} </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                {% if teachers.previousPageUrl %}
                <li>
                    <a class="btn btn-primary left-btn" aria-label="Previous" href="{{teachers.previousPageUrl}}" >
                        <span aria-hidden="true">&laquo; pagina anterioara &laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% if teachers.nextPageUrl %}
                <li><a class="btn btn-primary text-center right-btn" aria-label="Next" href="{{teachers.nextPageUrl}}">
                    <span aria-hidden="true">&raquo; pagina urmatoare &raquo;</span></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<style>
    .name-label{
        color: #ba62bb;
        padding: 0 6px;
        background-color: #ffffffeb;
    }
    .name-value{
        font-size: 18px;
        text-align: left;
        color: #bb62ac;
        padding: 0 6px;
        background-color: white;
    }
    .flex-header{
        display: flex;
        flex-direction: column;
        height: 50px;
        background-color: green;
        font-weight: bold;
        justify-content: space-around;
        text-align: left;
    }
    .left-btn{
        margin-right:3px;
    }
    .right-btn{
        margin-left:3px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill ,minmax(160px, 290px));
        grid-template-rows: auto;
        gap: 10px 10px;
        margin: 2% auto;
        justify-content: center;
    }
    .grid-item{
        border: solid 1px #d6d6d6;
        display: grid;
        grid-template-rows: auto;
        padding: 10px;
        justify-content: center;
        text-align: center;
        border-radius: 10px;

    }
    .image-grid{
        max-width: 270px;
        margin: 14px 0px;




    }
    .teacher-details{
        height: 250px;
        font-size: 1em;
        line-height: 1.2em;
        padding-top: 15px;
    }


</style>
