description = "cta2-fng-no-button.htm"

[viewBag]
==
<?php
function onStart()
{
    $lastday = strtotime('16 June 2021');
    $today = time();
    $days = floor( ($lastday - $today)/86400);
    $this['days'] = $days;
}
?>
==
<section id="cta2" style="text-align:center;">
    <div class="container" >
        <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">Au mai rămas {{days}} zile pana la alegerea câștigătorului.</h2>
        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Trimite nominalizarea ta. Scrie-ne de ce crezi că merită titlul de Învățătoarea Anului și poate fi chiar ea aleasă câștigătoare in 2021.</p>
        <img class="img-responsive wow fadeIn" src="{{ 'assets/images/banner-fng.png'|theme }}" alt="" data-wow-duration="300ms" data-wow-delay="300ms" style="margin:auto;">
    </div>

</section>