[viewBag]
==
<?php
function onStart()
{
    $lastday = strtotime('16 June 2021');
    $today = time();
    $days = floor( ($lastday - $today)/86400);
    $this['days'] = $days;
}
?>
==
<section id="cta2" style="padding:0;">
    <div class="container">
        <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">Au mai ramas {{days}} zile pâna la alegerea castigatorului</h2>
        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Trimite-ne nominalizarea ta, spune-ne de ce este cea mai
            buna invatatoare din lume si noi o premiem</p>
        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
          <!--  <a class="btn btn-primary btn-lg" href="{{'/inscriere'}}">Trimite nominalizarea ta</a>-->
        </p>
        <img class="img-responsive wow fadeIn" src="{{ 'assets/images/sissi-transparents.png'|theme }}" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
    </div>

</section>
