[viewBag]
==

<?php
function onStart()
{
    $lastday = strtotime('16 June 2021');
    $today = time();
    $days = floor( ($lastday - $today)/86400);
    $this['days'] = $days;
}
?>

<section id="cta2" style="padding:0;">
    <div class="container">
        <h2 class="wow fadeInUp text-center" data-wow-duration="300ms" data-wow-delay="0ms">Daca invătătoarea copilului tău merita toate laudele,
        nominalizeaz-o aici si arata-ti aprecierea!
        </h2>
         
        <img class="img-responsive wow fadeIn" src="{{ 'assets/images/Sissi_Banner_Inscriere.png'|theme }}" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
    </div>

</section>
<style>
    #cta2 .container h2 {
            font-size: 1.6em;
    }

    @media screen and (max-width: 600px) {
        #cta2 .container    h2 {
            font-size: 2.5vh;
        }

        #cta2 .container{
            text-align:center;
        }
    }
</style>
