[viewBag]
==
<section id="cta2" style="padding:0;">
    <div class="container">
        <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms"> Dacă dorești și tu să îți arăți aprecierea față de elevii tăi, trimite-le o scrisoare completând formularul de mai jos.</h2>
        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
          <!--  <a class="btn btn-primary btn-lg" href="{{'/inscriere'}}">Trimite nominalizarea ta</a> -->
        </p>
        <img class="img-responsive wow fadeIn" src="{{ 'assets/images/sissi_banner_scrisoare.png'|theme }}" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
    </div>

</section>

<style>
    #cta2 .container h2 {
        font-size: 1.6em;
    }

    @media screen and (max-width: 600px) {
        #cta2 .container    h2 {
            font-size: 2.5vh;
        }

        #cta2 .container{
            text-align:center;
        }
    }
</style>
