        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="links">
                        <li><a href="https://zurlandia.ro/">Zurlandia</a></li>
                        <li><a href="https://mirelaretegan.ro/">Oficial Mirela Retegan</a></li>
                        <li><a href="https://zurli.ro/">zurli</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="links">
                        <li><a href="https://mirelaretegan.ro/campanii">Alte campanii</a></li>
                        <li><a href="https://mirelaretegan.ro/blog/">Blog Mirela Retegan</a></li>
                        <li><a href="https://mirelaretegan.ro/carti/">Carti Mirela Retegan</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="links">
                        <li>Farmec si Gerovital</li>
                        <li>Cristim</li>
                        <li>Fundatia noua generatie</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="links">
                        <li>Contact</li>
                        <li>Termeni si conditii</li>
                        <li>Regulament</li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    &copy;  {{ "now"|date("Y") }} {{ this.theme.site_name }}. invatatoareaanului.ro
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/mirelareteganoficial/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCvgRRUTgNdBhoTfNSv-bcrg"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% framework %}
<style>
   .links{
       display: flex;
       flex-direction: column;
   }
</style>
