==
<div class="container mt-3">

            <div class="row">
                <div class="col-sm-3">
                    <ul class="links">


                    </ul>
                </div>

                <div class="col-sm-3">
                    <ul class="links">
                        <li><a href="https://mirelaretegan.ro/"> Mirela Retegan</a></li>
                        <li><a href="https://zurli.ro/">Zurli</a></li>
                        <li><a href="https://mirelaretegan.ro/campanii">Alte campanii</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <ul class="links">
                        <li><a href="https://www.facebook.com/SissiRomania">Sissi România</a></li>
                        <li><a href="https://www.casacarolistilor.ro/">Caroli Foods Group</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="links">
                        <li>Contact – e-mail: fundatia@zurli.ro, telefon 0741.530.408</li>

                        <li><a href="{{'assets/docs/regulament_invatatoarea_anului.pdf'|theme}}" target="_blank">Regulament</a></li>
                        <li><a href="https://anpc.ro/" target="_blank">ANPC</a></li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <p class="text-center">
                    &copy;  {{ "now"|date("Y") }} Învățătoarea Anului, toate drepturile rezervate Fundatia Zurli.
                    </p>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/mirelareteganoficial/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCvgRRUTgNdBhoTfNSv-bcrg"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% framework %}
<style>
    .cookies-bar{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0px 0px 15px 26px;
        background-color: #f1f1f19c;
        width: 100%;
    }

    #sg-cookiesBar{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #e0f1f1c9;
        z-index: 999999;
        bottom: 0;
    }

   .links{
       display: flex;
       flex-direction: column;
    }

   .container-wrapper{
       margin-bottom: 50px;
   }
   .section-header{
       margin-top:25px;
   }
</style>
