<section>
    <div class="container text-center">
        <a href="/scrisoare-de-apreciere" id="banner-scrisoare">
         <img class="img-responsive wow fadeIn" src="{{ 'assets/images/InvAn_ButonSite.png'|theme }}" alt="" data-wow-duration="300ms" data-wow-delay="300ms" style="margin:auto;">
        </a>
    </div>
</section>
<style>

    #banner-scrisoare{
        box-shadow: grey 0px 0px 6px;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border-radius: 0.25em;
        display:block;
        background-color:white;
    }
     #banner-scrisoare:hover{
        box-shadow: #197b00 0px 0px 6px;
    }

    @media screen and (min-width: 768px) {
        #banner-scrisoare {
            margin-top: 8vh;
            margin-bottom: 8vh;
            border-radius: 0.5em;
        }
    }
    @media screen and (max-width: 425px) {
        #banner-scrisoare {
            margin-top: 1vh;
            margin-bottom: 1vh;
            border-radius: 0.2em;
        }
    }

     */
</style>
